<nav class="navbar navbar-expand-lg navbar-light bg-warning app-navbar">
    <div class="app-logo">
        <img src="../assets/images/logo.jpg" id="icon" alt="User Icon" />
    </div>
    <div class="user-div">
        <i class="fa fa-user fa-3x"></i>
        <span class="user-info">{{ userName }}</span>
    </div>
    <div>
        <input type="submit" class="nav-link btn btn-primary text-white logout-btn" (click)="logout()" value="Log Out">
    </div>
</nav>

<div class="home-body">
    <h2>This is the home page</h2>
</div>